<% if user_signed_in? %>
  <%= link_to 'New Listing', new_listing_path, class: "btn btn-link" %>
<% end %>

<section class="listingDisplaySection">
    
<% @listings.each do |listing| %>
    <div class="craftyCard">
        <%= link_to image_tag(listing.picture), listing %>
          <h3><%= listing.name %></h3>
          <p><%= number_to_currency(listing.price) %></p>
          <p><%= "Sold by #{listing.user.name}" %></p>
          <% if (user_signed_in?) && (current_user == listing.user) %>
              <%= link_to 'Edit', edit_listing_path(listing), class: "btn btn-link" %>
              <%= button_to 'Delete', listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %>
        <% end %>
    </div> 
<% end %>

<section>  


