
<%# nav bar header %>

<section class="navigationalBar">
    <div class="logoAndSearch">
        <span><%= link_to "Crafty Market", root_path, class: "craftyMarketnavBarLogo" %></span>
        <form class="form-inline my-2 my-lg-0 ml-auto" action="/search">
            <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>


         <div class="navBarDropDowns">

          <% if user_signed_in? %>
            <div class="dropdown">
              <a href="#" class="dropdown-toggle navLinkButtons" data-toggle="dropdown">Seller Account  <b></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Manage Listings", seller_path %></li>
                <li><%= link_to "Sales History", sales_path %></li>
              </ul>
            </div>

            <div class="dropdown">
              <a href="#" class="dropdown-toggle navLinkButtons" data-toggle="dropdown"><%= current_user.name %> <b></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Purchase History", purchases_path %></li>
                <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
              </ul>
            </div>

          <% else %>

              <div class="navLinkSection">
                <%= link_to "Sign Up", new_user_registration_path, class: "navLinkButtons" %>
                <%= link_to "Log In", new_user_session_path, class: "navLinkButtons" %>
              </div>
          <% end %>

         </div>

</section>