<!DOCTYPE html>
<html>
<head>
  <title>Crafty Market</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/navbar' %>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>